.h-px-wide {
    width: 60%;
    margin: 10px auto 10px auto;
}

.col{
    text-align: center;
}

.row{
    margin-top: 50px;
    margin-bottom: 50px;
}

.container{
    margin-top: 50px;
}

@media screen and (orientation: portrait){
    .img {
        width: 300px;
    }
}

@media screen and (max-width: 300px){
    .img {
        width: 200px;
    }
}